@{
    ViewData["Title"] = "Home";
}

 <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Grupos de Corrida</h1>
        <p class="lead text-muted">Encontre e conecte-se com corredores do Brasil e vivencie um estilo de vida saudável e prazeroso</p>
        <p>
          <a type="btn btn-sucess" asp-controller="Club" class="btn btn-primary my-2">Comece Agora</a>
          <a href="#" class="btn btn-secondary my-2">Sair</a>
        </p>
      </div>
    </div>
  </section>